<p>Customer Summaries</p>

<p *ngIf="loading"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="!loading">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Season</th>
      <th>Total Credit</th>
      <th>Total Repayed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let summary of customerSummaries">
      <td>{{summary.customerName}}</td>
      <td>{{summary.seasonName}}</td>
      <td>{{summary.totalCredit}}</td>
      <td>{{summary.totalRepaid}}</td>
    </tr>
  </tbody>
</table>